.bg-img-solid {
  background-image: url("../assets/job_details_page_main_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
}

.bg-img-blur {
  background-image: url("../assets/job_details_page_main_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 35vh;
  filter: blur(8px);
}

/* AboutUs.css */

.slider-area {
  padding-top: 10px !important; /* Forces less space at the top */
  padding-bottom: 0px !important;
}

.top-side {
  margin-bottom: 0 !important; /* Removes space below "About Us" title */
}

/* Reduces space created by the carousel wrapper if applicable */
#carouselExampleDark {
  margin-top: 0;
}
