.partition {
  background-image: url("../../assets/Mainpage-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 35vh;
  filter: blur(8px);
}
.playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.playfair-regular {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
